.pcc-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.errortag{
    text-align: center;
    font-weight: bolder;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.corrtag{
    text-align: center;
    font-weight: bolder;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px; /* Adjust as necessary */
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.text-input,
.date-input,
.textarea-input,
.select-input,
.file-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.textarea-input {
    height: 100px; /* Adjust as necessary */
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}

.age-display {
    margin-top: 5px;
    font-weight: bold;
}

.calculate-age-button {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.calculate-age-button:hover {
    background-color: #0056b3;
}
